.site-banner {
	border-top: 1px black solid; 
	border-bottom: 1px black solid; 
	text-align: right;
	font-size: 25px;
}

.site-banner h3{
	font-family: didot, serif;
	font-weight: bold;
	color: #708090;
	letter-spacing: 2px;
	font-size: 10px;
}

  .story-header h1{
 	font-family: didot, serif;
 	font-weight: bold;
 	font-size: 40px;
 }

.byline { 
	font-weight: bold;
	font-size: 15px;
 }

 .story-content { 
	font-family: georgia, sans-serif;  
	font-size: 20px; 

 }

  .photo{
	width: 800px;
}
 	
 .photo-caption{
	color: #708090;
	font-size: 12px;
	margin-top: 1px; 
	font-style: italic;
}

.article a { 
	color: blue; 
	background-color: transparent;
	text-decoration: underline; 
 }


.body { 
	margin: 1px; 
	margin-left: 1px; 
	margin-right: 1px;
	margin-bottom: 1px; 
} 


.footer{ 
	font-family: Optima, sans-serif;
	margin-top: 30px; 
	margin-bottom: 30px; 
 }

 .footer-text{ 
 	color: solid gray;
 	font-size: 12px;  
  }

